/* General rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to bottom, #9fc8f7, #97bef2, #8fb5ee, #91abee, #98a0ec, #a393e7, #c27eda, #e064bf, #f64499, #ff236a);
  background-repeat:no-repeat;

  font-family: 'Commissioner', sans-serif;
  font-size: 1rem;
  line-height: 2;
  color: white;
  
}

/* Nav & header */

header {
  text-align: center;
  margin-top: 60px;
  color: rgb(0, 132, 255);
  padding-bottom:20px;
}

header h1 {
  font-family: 'Bodoni Moda', serif;
  font-weight: 800;
}

header h1:hover {
  animation: frombluetogreen;
  animation-duration: 1s;
}

@keyframes frombluetogreen {
  from {color:rgb(0, 133, 255);}
  to {color:#008A62;}
}

header h2 {
  margin-bottom: 2.25rem;
  color: #FF236A;
  font-weight: 800;

}

header img{
  width: 20vw;
  border-radius: 50%;
  box-shadow: 3px 1px 20px gray;
  margin-bottom: 1rem;
}

header img:hover{
  animation-name: bordershape;
  animation-duration: 1s;
  box-shadow: 3px 1px 20px gray;
}

@keyframes bordershape {
  from {border-radius: 50%;}
  to {border-radius: 10%;}
}

.navbar {
  background-color: rgba(0,0,0,0.1);
  padding:0;
  position:sticky;
  top:0px;
}

.nav-link {
  color:white;
  font-weight: 300;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #FF236A;
}

/* sections*/

section h3 {
  color: #936BFB;
  text-align: center;
  font-weight: 800;
  margin: 2rem 0;
}

#first-title {
  margin-top: 0;
}

.bubble{
  background-color: #936BFB;
  border-radius: 1.3rem;
  margin-bottom: 1rem;
  padding: 4%;
  width: calc(min(90%, 700px));
  margin:auto;
}

strong{
  background-color: white;
  padding: 0.1rem;
  color: #936BFB;
}


.emoji {
  margin:1rem;
  vertical-align:baseline;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 1rem 2rem;
}

li {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

li:last-child {
  margin:0;
}


h4 {
  color:#FF236A;
  font-weight: 400;
  text-align: center;
}

.last-box {
  margin-top: 2rem;
}

.change-colour {
  background-color: #FF236A;
}

.change-colour-text{
  color: #FF236A;
}

.change-colour-contacts {
  background-color: rgb(0, 133, 255);
}

.contacts{
  display:flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.icon{
  width: 40%;
}

.icon:hover {
  box-shadow: 3px 1px 20px white;
  border-radius: 100%;
  border: none;
}

.skills-icon{
  width: 7%;
  margin-left: 0.6rem;
  vertical-align:middle;
}

h5 {
  text-align: center;
}

label {
  padding: 0.5rem 0;
}

.change-colour-text-contacts{
  color:rgb(0, 133, 255);
}
/* buttons */

.btn {
  border: none;
  color: white;
  background-color:rgb(0, 133, 255);
  padding: 1.25rem 2.5rem;
  border-radius: 0.8rem;
  display: block;
  margin: 3rem auto;
}

.btn:hover{
  background-color: rgb(0, 133, 255);
  box-shadow: 3px 1px 20px white;
  color: white;
  cursor:pointer;
  border:none;
}

.btn-white {
  background-color: white;
  color:rgb(0, 133, 255);
  font-weight: 700;
  border:none;
}

.btn-white:hover{
  background-color: white;
  box-shadow: 3px 1px 20px white;
  color: rgb(0, 133, 255);
  cursor:pointer;
  border: none;
  
}

.icon-2{
  width:6%;
  margin-left:0.5rem;
  vertical-align: middle;
}

.light{
  font-weight: 200;
}


/* list style */

.style-1 {
  list-style-type: "🧑";
}

.style-2 {
  list-style-type: "🎂";
}

.style-3 {
  list-style-type: "❤️";
}

.style-4 {
  list-style-type: "💔";
}

.style-5 {
  list-style-type: "🎓";
}

.style-6 {
  list-style-type: "💼";
}

.style-7 {
  list-style-type: "📖";
}

.style-8 {
  list-style-type: "⚙️";
}

.style-9 {
  list-style-type: "🪶";
}

@media (max-width: 991px) {
  .skills-icon, .icon-2 {
      display: none;
  }
  .navbar {
    top:20px;
    background-color: rgba(0,0,0,0);
  
  }

  .nav-link {
    text-shadow: grey 1px 1px 10px;
    font-weight: 400;
    color:white;
    font-size: 0.8rem;
  }

  body {
    font-size: 0.7rem;
  }
}